
$accentColor = #8E2035
$textColor = #2c3e50
$textColorLight = #fff
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #8E2035
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
$sidebarBgColor = #1A2445
$sidebarTextColor = #fff
$navibarBgColor = #8E2035

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
$fontFamily = 'Noto Sans JP'