
$accentColor = #666
$textColor = #2c3e50
$textColorLight = #fff
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #000
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961
$sidebarBgColor = #222
$sidebarTextColor = #fff
$navibarBgColor = #000

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
$fontFamily = 'Noto Sans JP'
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300&display=swap');
$fontFamilyTitle = 'Spartan';